<nz-card
  class="pointer"
  [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
>
  <nz-card-meta
    class="pointer"
    (click)="onActionClick(null, 'card')"
    [nzTitle]="project.name"
    [nzDescription]="project.description || ''"
  ></nz-card-meta>

  <section
    class="mt-1 content-block pointer"
    (click)="onActionClick(null, 'card')"
  >
    <article>
      <span class="bold">Default locale:</span>
      {{ project.defaultLocale.name }} - {{ project.defaultLocale.path }}
    </article>

    <article><span class="bold">Locales:</span> {{ projectLocales }}</article>

    <ng-container *ngIf="projectFiles.hasErrors">
      <nz-divider></nz-divider>

      <div
        *ngFor="let message of projectFiles.errorsMessages"
        class="status-danger"
      >
        <span nz-icon nzType="alert" nzTheme="outline"></span>
        <span class="ml-05">{{ message }}</span>
      </div>
    </ng-container>
  </section>
</nz-card>

<ng-template #actionSetting>
  <span
    nz-icon
    nzType="translation"
    nzTheme="outline"
    (click)="onActionClick($event, 'home')"
  ></span>
</ng-template>
<ng-template #actionEdit>
  <span (click)="onActionClick($event, 'edit')" nz-icon nzType="edit"></span>
</ng-template>
<ng-template #actionEllipsis>
  <span
    (click)="onActionClick($event, 'delete')"
    nz-popconfirm
    nzPopconfirmTitle="Are you sure delete this project?"
    nzPopconfirmPlacement="bottom"
    (nzOnConfirm)="deleteProject()"
    nz-icon
    nzType="delete"
    nzTheme="outline"
  ></span>
</ng-template>
