<ng-container *ngIf="project">
  <app-page-container>
    <app-header>
      <div class="flex align-start justify-space-between w-100">
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <a routerLink="/home">
              <span nz-icon nzType="home" nzTheme="outline"></span>
              <span>Projects</span>
            </a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>{{ project.name }}</nz-breadcrumb-item>
        </nz-breadcrumb>

        <a routerLink="/edit-project">
          <button nz-button nzSize="small" nzType="primary">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
            Edit project
          </button>
        </a>
      </div>
    </app-header>

    <h2 nz-typography>{{ project.name }}</h2>

    <p nz-typography *ngIf="project.description" class="project-description">
      {{ project.description }}
    </p>

    <section class="mt-1 content-block">
      <article>
        <span class="bold">Default locale:</span>
        {{ project.defaultLocale.name }} - {{ project.defaultLocale.path }}
      </article>

      <article><span class="bold">Locales:</span> {{ projectLocales }}</article>

      <ng-container *ngIf="projectFiles.hasErrors">
        <nz-divider></nz-divider>

        <div
          *ngFor="let message of projectFiles.errorsMessages"
          class="status-danger">
          <span nz-icon nzType="alert" nzTheme="outline"></span>
          <span class="ml-05">{{ message }}</span>
        </div>

        <p nz-typography class="bold mt-1 mb-1">
          You must resolve the errors to use the tools
        </p>
      </ng-container>
    </section>

    <nz-divider></nz-divider>

    <h3 nz-typography>Tools</h3>

    <div class="flex flex-column buttons-block">
      <button
        nz-button
        nzSize="large"
        type="button"
        nzType="primary"
        (click)="removeUnusedTranslations()"
        [disabled]="projectFiles.hasErrors">
        <span nz-icon nzType="delete-row" nzTheme="outline"></span>
        Remove unused translations
      </button>

      <button
        nz-button
        nzSize="large"
        type="button"
        nzType="primary"
        (click)="showMissingTranslations()"
        [disabled]="projectFiles.hasErrors">
        <span nz-icon nzType="stop" nzTheme="outline"></span>
        Show missing translations
      </button>

      <button
        nz-button
        nzSize="large"
        type="button"
        nzType="primary"
        (click)="orderTranslations()"
        [disabled]="projectFiles.hasErrors">
        <span nz-icon nzType="swap" nzTheme="outline"></span>
        Order translations
      </button>
    </div>
  </app-page-container>
</ng-container>

<app-missing-translations-modal
  [isVisible]="isMissingTranslationsModalVisible"
  (closed)="toggleMissingTranslationsModal()"
  [missingTranslations]="missingTranslations"
  [project]="project">
</app-missing-translations-modal>
